<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace = "org.example.shopping.mapper.AuthTokenMapper">

    <insert id="insertToken">
        INSERT INTO AUTHTOKEN (USERID, ACCESSTOKEN, REFRESHTOKEN)
        VALUES (#{userId}, #{accToken}, #{refToken})
    </insert>

    <select id="getToken">
        SELECT  *
        FROM    AUTHTOKEN
        WHERE   REFRESHTOKEN  = #{token}
    </select>


</mapper>

