<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.example.shopping.deliveryAddr.mapper.DeliveryAddrMapper">
    <insert id="insDeliAddr" parameterType="org.example.shopping.deliveryAddr.dto.DeliveryAddrInsert">
        <selectKey keyProperty="deliAddrNo" resultType="Integer" order="BEFORE">
            SELECT
                CASE
                    WHEN EXISTS (SELECT DELIADDRNO FROM DELIVERYADDR WHERE USERID = #{userId})
                    THEN ((SELECT MAX(DELIADDRNO) FROM DELIVERYADDR WHERE USERID = #{userId}) + 1)
                ELSE 1
            END
        </selectKey>

        INSERT INTO DELIVERYADDR(USERID, DELIADDRNO, ADDRALIAS, DELIADDR, DEFDELIADDR)
        VALUES (
                #{userId},
                #{deliAddrNo},
                #{addrAlias},
                #{deliAddr},
                #{defDeliAddr}
               );
    </insert>

    <update id="updAllDefDeliAddr" parameterType="org.example.shopping.deliveryAddr.dto.DeliveryAddrDefUpdate">
        UPDATE DELIVERYADDR
        SET DEFDELIADDR = FALSE
        WHERE USERID = #{userId}
        AND #{defDeliAddr} = TRUE;
    </update>

    <update id="updDefDeliAddr" parameterType="org.example.shopping.deliveryAddr.dto.DeliveryAddrDefUpdate">
        UPDATE DELIVERYADDR
        SET DEFDELIADDR = true
        WHERE USERID = #{userId}
        AND DELIADDRNO = #{deliAddrNo}
        AND #{defDeliAddr} = TRUE;
    </update>

    <select id="getDeliInfo" parameterType="String">
        SELECT  *
        FROM    DELIVERYADDR
        WHERE   USERID = #{userId};
    </select>

    <update id="updDeliAddr" parameterType="org.example.shopping.deliveryAddr.dto.DeliveryAddrUpdate">
        UPDATE  DELIVERYADDR
        SET     ADDRALIAS   = #{addrAlias},
                DELIADDR    = #{deliAddr}
        WHERE   USERID      = #{userId}
          AND DELIADDRNO    = #{deliAddrNo};
    </update>

    <delete id="delDeliAddr" parameterType="org.example.shopping.deliveryAddr.dto.DeliveryAddrDelete">
        DELETE  FROM    DELIVERYADDR
                WHERE   USERID      = #{userId}
                AND     DELIADDRNO  = #{deliAddrNo};
    </delete>

    <update id="updDeliAddrNo" parameterType="org.example.shopping.deliveryAddr.dto.DeliveryAddrDelete">
        UPDATE  DELIVERYADDR
        SET     DELIADDRNO = DELIADDRNO - 1
        WHERE   USERID = #{userId}
          AND   DELIADDRNO > #{deliAddrNo};
    </update>

    <!-- default 설정된 배송지는 지울 수 없도록 해야할거 같음. 시도시 예외 처리 및 alert으로 유도? -->
    <!--<update id="updDefDeliNoOne" parameterType="org.example.shopping.deliveryAddr.dto.DeliveryAddrDelete">
        UPDATE DELIVERYADDR
        SET DEFDELIADDR = TRUE
        WHERE USERID = #{userId}
        AND DELIADDRNO = 1
        AND NOT EXISTS (
            SELECT 1
            FROM DELIVERYADDR
            WHERE USERID = #{userId}
            AND DEFDELIADDR = TRUE
        );
    </update>-->
</mapper>