<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace = "org.example.shopping.product.mapper.ProductMapper">

    <!-- 상품등록 -->
    <insert id = "insertProduct" parameterType = "org.example.shopping.product.dto.ProductInsertReq">
        INSERT INTO PRODUCTINFO (prodname, price, provider, info, useflag, regdate)
        VALUES (#{prodName}, #{price}, #{provider}, #{info}, #{useFlag}, FORMATDATETIME(NOW(), 'yyyy-MM-dd hh:mm:ss'))
    </insert>

    <insert id = "multiInsertProduct">
        INSERT INTO PRODUCTINFO (prodname, price, provider, info, useflag, regdate)
        values
        <foreach collection = "list" item = "product" separator = ",">
            (#{product.prodName}, #{product.price}, #{product.provider}, #{product.info}, #{product.useFlag}, FORMATDATETIME(NOW(), 'yyyy-MM-dd hh:mm:ss'))
        </foreach>
    </insert>

    <!-- 상품 조회 (상품 번호 기준) -->
    <select id="getProdInfoBySeqNo" parameterType="org.example.shopping.product.dto.ProductDetail">
        SELECT    PRODSEQNO
                , PRODNAME
                , PRICE
                , PROVIDER
                , INFO
                , USEFLAG
                , REGDATE
                , UPDDATE
        FROM   PRODUCTINFO
        WHERE   PRODSEQNO  = #{prodSeqNo}
        AND     USEFLAG = TRUE
    </select>

    <!-- 상품 조회 (상품 이름 기준) -->
    <select id="getProdInfoByName" parameterType="String">
        SELECT    PRODSEQNO
             , PRODNAME
             , PRICE
             , PROVIDER
             , INFO
             , USEFLAG
             , REGDATE
             , UPDDATE
        FROM   PRODUCTINFO
        WHERE   PRODNAME LIKE CONCAT('%', #{prodName}, '%')
          AND   USEFLAG = TRUE
    </select>

    <select id="getQuanProd" parameterType="Integer">
        SELECT   PRODSEQNO
                 , PRODNAME
                 , PRICE
                 , PROVIDER
                 , INFO
                 , USEFLAG
                 , REGDATE
                 , UPDDATE
        FROM   PRODUCTINFO
        WHERE    USEFLAG    = TRUE
    </select>

    <!-- 상품 수정 -->
    <update id="updateProd" parameterType="org.example.shopping.product.dto.ProductUpdateReq">
        UPDATE  PRODUCTINFO
        SET     PRODNAME    = #{prodName},
                PRICE       = #{price},
                PROVIDER    = #{provider},
                INFO        = #{info},
                USEFLAG     = #{useFlag},
                UPDDATE     = FORMATDATETIME(NOW(), 'yyyy-MM-dd hh:mm:ss')
        WHERE   PRODSEQNO   = #{prodSeqNo}
    </update>

</mapper>