<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace = "org.example.shopping.user.mapper.UserMapper">
    <!-- 회원가입 -->
    <insert id = "insertUser" parameterType = "org.example.shopping.user.dto.User">
        INSERT INTO USERS (id, pw, name, addr, regdate)
        VALUES (#{id}, #{pw}, #{name}, #{addr}, FORMATDATETIME(NOW(), 'yyyy-MM-dd hh:mm:ss'))
    </insert>

    <!-- select문 조회 업무 -->
    <select id="selectUserById" parameterType="String">
        SELECT    USERNO
                , ID
                , PW
                , NAME
                , ADDR
                , SLEEPFLAG
                , REGDATE
                , UPDDATE
        FROM      USERS
        WHERE     id = #{id}
          AND     SLEEPFLAG = FALSE
    </select>

    <select id="selectAllUsers" parameterType="org.example.shopping.user.dto.User">
        select     USERNO
                 , ID
                 , PW
                 , NAME
                 , ADDR
                 , SLEEPFLAG
                 , REGDATE
                 , UPDDATE
        FROM       USERS
        WHERE      SLEEPFLAG = FALSE
    </select>

    <!-- update문 수정 업무 -->
    <update id="updateUserInfo" parameterType="org.example.shopping.user.dto.User">
        UPDATE  USERS
        SET     name    = #{name} ,
                pw      = #{pw},
                addr    = #{addr} ,
                upddate = FORMATDATETIME(NOW(), 'yyyy-MM-dd hh:mm:ss')
        WHERE   id      = #{id}
    </update>

    <!-- 휴면 계정 처리 -->
    <update id="dormencyFlag" parameterType="String">
        UPDATE  USERS
        SET     sleepflag   = NOT (SELECT sleepflag FROM users WHERE id = #{id})
                , UPDDATE   = FORMATDATETIME(NOW(), 'yyyy-MM-dd hh:mm:ss')
        WHERE   id          = #{id}
    </update>
</mapper>