<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace = "org.example.shopping.user.mapper.UserMapper">
    <!-- 회원가입 -->
    <insert id = "insertUser" parameterType = "org.example.shopping.user.dto.User">
        INSERT INTO users (id, pw, name, addr, regdate)
        VALUES (#{id}, #{pw}, #{name}, #{addr}, #{regDate})
    </insert>

    <!-- select문 조회 업무 -->
    <select id="selectUserById" parameterType="String">
        SELECT * FROM users
        WHERE   id = #{id}
          AND     SLEEPFRAG = FALSE
    </select>

    <select id="selectAllUsers" parameterType="org.example.shopping.user.dto.User">
        select * FROM users
        WHERE SLEEPFRAG = FALSE
    </select>

    <!-- update문 수정 업무 -->
    <update id="updateUserInfo" parameterType="org.example.shopping.user.dto.User">
        UPDATE  users
        SET     name    = #{name} ,
                pw      = #{pw},
                addr    = #{addr} ,
                upddate = #{updDate}
        WHERE   id      = #{id}
    </update>

    <!-- 휴면 계정 처리 -->
    <update id="dormencyFrag" parameterType="String">
        UPDATE  users
        SET     sleepfrag   = NOT (SELECT sleepfrag FROM users WHERE id = #{id})
        WHERE   id          = #{id}
    </update>
</mapper>