<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN" xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.ibatis" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
<!--        <Logger name="jdbc.sqltiming" level="ERROR" />-->
<!--        <Logger name="jdbc.sql" level="ERROR" />-->
<!--        <Logger name="jdbc.connection" level="ERROR" />-->
<!--        <Logger name="jdbc.resultset" level="ERROR" />-->
<!--        <Logger name="jdbc.statement" level="ERROR" />-->

        <Root level="DEBUG">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>